@import "tailwindcss";


@theme {
  --color-lightHover: oklch(0.9765 0.0168 316.94);
  --color-darkHover: oklch(0.2311 0.1212 303.2);
  --color-darkTheme: oklch(0.1395 0.0715 307.42);

  --font-display: League_Gothic;

  --shadow-black: 4px 4px 0 oklch(0 0 0);
  --shadow-white: 4px 4px 0 oklch(1 0 0);

  --columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

*{font-family: League_Gothic;}

